.mask{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 990;
  left: 0;
  top: 0;
}
.mask .title-box{
  background-color: #fafafa;
  box-sizing: border-box;
  padding: 0 20px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom: 1px solid #f0f0f0;
}
.mask .title-box .title{
  font-size: 14px;
  color: #666666;
  float: left;
  line-height: 40px;
  text-align: left;
}
.mask .title-box .close{
  float: right;
  font-size: 18px;
  cursor: pointer;
  color: #7f7f7f;
  line-height: 40px;
}

/*清除浮动*/
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
